<!-- About Us -->
<section id="about-us">
    <div class="container about-us-container">
        <div class="about-us-content">
            <h2 class="about-us-title">About Us</h2>
            <div class="about-us-text">
                <p> Welcome to our premium watch collection, where luxury and style meet functionality and precision. Our selection of timepieces embodies the very best in Swiss craftsmanship and engineering, ensuring that you'll always have a reliable and stylish accessory on your wrist. </p>
                <p> At our premium watch collection, we believe that a watch is more than just a timekeeping device - it's a statement piece that reflects your personality and style. So why settle for anything less than the best? </p>
            </div>
            <a class="btn about-us-btn" href="#catalog">View catalog</a>
        </div>
        <picture>
            <source media="(min-width: 1280px)" srcset="
                ./img/about-img/watch-desktop.png,
                ./img/about-img/watch-desktop@2.png 2x
                ">
            <source media="(min-width: 768px)" srcset="
                ./img/about-img/watch-tablet.png,
                ./img/about-img/watch-tablet@2.png 2x
                ">
            <source media="(min-width: 320px)" srcset="
                ./img/about-img/watch-mobile.png,
                ./img/about-img/watch-mobile@2.png 2x
                ">
            <img src="./img/about_us/tablet-about-us-img.png" alt="about us img">
        </picture>
    </div>
</section>