<!-- Catalog  -->
<section id="catalog">
    <div class="container">
        <h2 class="catalog-title">Catalog</h2>
        <ul class="catalog-list">
            <li class="catalog-item">
                <div class="catalog-image">
                    <picture>
                        <source srcset="
                            ./img/catalog/garmin_fenix.png,
                            ./img/catalog/garmin_fenix@2x.png 2x
                        " media="(min-width: 1280px)">
                        <source srcset="
                            ./img/catalog/garmin_fenix_tablet.png,
                            ./img/catalog/garmin_fenix_tablet@2x.png 2x
                        " media="(min-width: 768px)">
                        <source srcset="
                            ./img/catalog/garmin_fenix_mobile.png,
                            ./img/catalog/garmin_fenix_mobile@2x.png 2x
                        " media="(max-width: 767px)">
                        <img src="./img/catalog/garmin_fenix_mobile.png" alt="garmin fenix">
                    </picture>
                </div>
                <div class="catalog-text">
                    <h3 class="catalog-name">Garmin Fenix 7X Pro Sapphire Solar</h3>
                    <p class="catalog-price">€500</p>
                </div>
            </li>
            <li class="catalog-item">
                <div class="catalog-image">
                    <picture>
                        <source srcset="
                            ./img/catalog/garmin_marq_athlete.png,
                            ./img/catalog/garmin_marq_athlete@2x.png 2x
                        " media="(min-width: 1280px)">
                        <source srcset="
                            ./img/catalog/garmin_marq_athlete_tablet.png,
                            ./img/catalog/garmin_marq_athlete_tablet@2x.png 2x
                        " media="(min-width: 768px)">
                        <source srcset="
                            ./img/catalog/garmin_marq_athlete_mobile.png,
                            ./img/catalog/garmin_marq_athlete_mobile@2x.png 2x
                        " media="(max-width: 767px)">
                        <img src="./img/catalog/garmin_marq_athlete_mobile.png" alt="garmin marq athlete">
                    </picture>
                </div>
                <div class="catalog-text">
                    <h3 class="catalog-name">Garmin Marq Athlete</h3>
                    <p class="catalog-price">€450</p>
                </div>
            </li>
            <li class="catalog-item">
                <div class="catalog-image">
                    <picture>
                        <source srcset="
                            ./img/catalog/garmin_descent.png,
                            ./img/catalog/garmin_descent@2x.png 2x
                        " media="(min-width: 1280px)">
                        <source srcset="
                            ./img/catalog/garmin_descent_tablet.png,
                            ./img/catalog/garmin_descent_tablet@2x.png 2x
                        " media="(min-width: 768px)">
                        <source srcset="
                            ./img/catalog/garmin_descent_mobile.png,
                            ./img/catalog/garmin_descent_mobile@2x.png 2x
                        " media="(max-width: 767px)">
                        <img src="./img/catalog/garmin_descent_mobile.png" alt="garmin descent">
                    </picture>
                </div>
                <div class="catalog-text">
                    <h3 class="catalog-name">Garmin Descent MK1</h3>
                    <p class="catalog-price">€680</p>
                </div>
            </li>
            <li class="catalog-item">
                <div class="catalog-image">
                    <picture>
                        <source srcset="
                            ./img/catalog/garmin_delta.png,
                            ./img/catalog/garmin_delta@2x.png 2x
                        " media="(min-width: 1280px)">
                        <source srcset="
                            ./img/catalog/garmin_delta_tablet.png,
                            ./img/catalog/garmin_delta_tablet@2x.png 2x
                        " media="(min-width: 768px)">
                        <source srcset="
                            ./img/catalog/garmin_delta_mobile.png,
                            ./img/catalog/garmin_delta_mobile@2x.png 2x
                        " media="(max-width: 767px)">
                        <img src="./img/catalog/garmin_delta_mobile.png" alt="garmin delta">
                    </picture>
                </div>
                <div class="catalog-text">
                    <h3 class="catalog-name">Garmin D2 Delta PX</h3>
                    <p class="catalog-price">€380</p>
                </div>
            </li>
            <li class="catalog-item">
                <div class="catalog-image">
                    <picture>
                        <source srcset="
                            ./img/catalog/garmin_fenix_6.png,
                            ./img/catalog/garmin_fenix_6@2x.png 2x
                        " media="(min-width: 1280px)">
                        <source srcset="
                            ./img/catalog/garmin_fenix_6_tablet.png,
                            ./img/catalog/garmin_fenix_6_tablet@2x.png 2x
                        " media="(min-width: 768px)">
                        <source srcset="
                            ./img/catalog/garmin_fenix_6_mobile.png,
                            ./img/catalog/garmin_fenix_6_mobile@2x.png 2x
                        " media="(max-width: 767px)">
                        <img src="./img/catalog/garmin_fenix_6_mobile.png" alt="garmin fenix 6">
                    </picture>
                </div>
                <div class="catalog-text">
                    <h3 class="catalog-name">Garmin Fenix 6 Pro Solar</h3>
                    <p class="catalog-price">€400</p>
                </div>
            </li>
            <li class="catalog-item">
                <div class="catalog-image">
                    <picture>
                        <source srcset="
                            ./img/catalog/tube_watch.png,
                            ./img/catalog/tube_watch@2x.png 2x
                        " media="(min-width: 1280px)">
                        <source srcset="
                            ./img/catalog/tube_watch_tablet.png,
                            ./img/catalog/tube_watch_tablet@2x.png 2x
                        " media="(min-width: 768px)">
                        <source srcset="
                            ./img/catalog/tube_watch_mobile.png,
                            ./img/catalog/tube_watch_mobile@2x.png 2x
                        " media="(max-width: 767px)">
                        <img src="./img/catalog/tube_watch_mobile.png" alt="tube watch">
                    </picture>
                </div>
                <div class="catalog-text">
                    <h3 class="catalog-name">Tube Watch S42 Date Steel With Black Case </h3>
                    <p class="catalog-price">€395</p>
                </div>
            </li>
        </ul>
        <button class="btn catalog-btn" type="button">Show more</button>
    </div>
</section>