<!--Hero-->
<section class="hero-section">
    <div class="container-hero container">
        <div class="hero-title-container">
            <h1 class="hero-title">Welcome to our <span class="hero-title-color">collection</span> of premium watches </h1>
            <p class="text-hero">Our watches are not just timepieces, but also an expression of your personality and lifestyle. From classic designs to modern ones, we have a watch to suit every taste and occasion. </p>
        </div>
        <div class="hero-image-link-container">
            <ul class="list-image-hero">
                <li class="iteam-list-hero">
                    <picture>
                        <source srcset="
                ./img/img.hero/ellipse21.desk.png,
                ./img/img.hero/ellipse21.desk@2x.png 2x
              " media="(min-width: 1280px)">
                        <source srcset="
                ./img/img.hero/ellipse21.tabl.png,
                ./img/img.hero/ellipse21.tabl@2x.png 2x
              " media="(min-width: 768px)">
                        <source srcset="
                ./img/img.hero/ellipse21.png,
                ./img/img.hero/ellipse21_2x.png 2x
              " media="(max-width: 767px)">
                        <img src="./img/img.hero/ellipse21.desk.png" alt="foto" width="60" height="60">
                    </picture>
                </li>
                <li class="iteam-list-hero">
                    <picture>
                        <source srcset="
                ./img/img.hero/ellipse22.desk.png,
                ./img/img.hero/ellipse22.desk@2x.png 2x
              " media="(min-width: 1280px)">
                        <source srcset="
                ./img/img.hero/ellipse22.tabl.png,
                ./img/img.hero/ellipse22.tabl@2x.png 2x
              " media="(min-width: 768px)">
                        <source srcset="
                ./img/img.hero/ellipse22.png,
                ./img/img.hero/ellipse22_2x.png 2x
              " media="(max-width: 767px)">
                        <img src="./img/img.hero/ellipse22.desk.png" alt="foto" width="60" height="60">
                    </picture>
                </li>
                <li class="iteam-list-hero">
                    <picture>
                        <source srcset="
                ./img/img.hero/ellipse23.desk.png,
                ./img/img.hero/ellipse23.desk@2x.png 2x
              " media="(min-width: 1280px)">
                        <source srcset="
                ./img/img.hero/ellipse23.tabl.png,
                ./img/img.hero/ellipse23.tabl@2x.png 2x
              " media="(min-width: 768px)">
                        <source srcset="
                ./img/img.hero/ellipse23.png,
                ./img/img.hero/ellipse23_2x.png 2x
              " media="(max-width: 767px)">
                        <img src="./img/img.hero/ellipse23.desk.png" alt="foto" width="60" height="60">
                    </picture>
                </li>
            </ul>
            <a class="link-hero" href="#footer-section">Scroll down</a>
        </div>
        <picture>
            <source srcset="
          ./img/img.hero/rectangle10.desktop.png,
          ./img/img.hero/rectangle10.desktop_2x.png 2x
        " media="(min-width: 1280px)">
            <source srcset="
          ./img/img.hero/rectangle10.tablet.png,
          ./img/img.hero/rectangle10.tablet_2x.png 2x
        " media="(min-width: 768px)">
            <source srcset="
          ./img/img.hero/rectangle10.mobile.png,
          ./img/img.hero/rectangle10.mobile_2x.png 2x
        " media="(max-width: 767px)">
            <img src="./img/img.hero/rectangle10.desktop.png" alt="watch" width="1150" height="500">
        </picture>
    </div>
</section>