<!-- Reviews  -->
<section id="reviews">
    <div class="container container-reviews">
        <h2 class="reviews-tittle">Reviews</h2>
        <ul class="reviews-list">
            <li class="reviews-list-item">
                <picture class="reviews-img">
                    <source srcset="./img/reviews.images/img1reviews-mob-1x.jpg, ./img/reviews.images/img1reviews-mob-2x.jpg 2x">
                    <img src="./img/img1reviews-mob-1x.jpg" alt="John Wax" width="56" height="56">
                </picture>
                <div class="reviews-list-item-content">
                    <h3 class="reviews-img-name">John Wax</h3>
                    <p class="reviews-img-description">Buying a watch from was the best choice for me. The design is perfectly combined with high quality materials. The strap fits nicely on the hand, and the mechanism works flawlessly. </p>
                </div>
            </li>
            <li class="reviews-list-item">
                <picture class="reviews-img">
                    <source srcset="./img/reviews.images/img2reviews-tab-1x.jpg, ./img/reviews.images/img2reviews-tab-2x.jpg 2x">
                    <img src="./img/img2reviews-tab-1x.jpg" alt="Victoria Romashenko" width="56" height="56">
                </picture>
                <div class="reviews-list-item-content">
                    <h3 class="reviews-img-name">Victoria Romashenko</h3>
                    <p class="reviews-img-description">Can't take my eyes off my watch from. Every time I put it on, it is admired by those around me. The build quality and attention to detail make it a real gem among my accessories. </p>
                </div>
            </li>
            <li class="reviews-list-item">
                <picture class="reviews-img">
                    <source srcset="./img/reviews.images/img3reviews-desk-1x.jpg, ./img/reviews.images/img3reviews-desk-2x.jpg 2x">
                    <img src="./img/img3reviews-desk-1x.jpg" alt="Victoria Romashenko" width="56" height="56">
                </picture>
                <div class="reviews-list-item-content">
                    <h3 class="reviews-img-name">Anastasia Trachuk</h3>
                    <p class="reviews-img-description">My watch from is a real masterpiece. Every detail impresses with the high quality of execution. Special features like [specify features] make it an indispensable companion in my daily life. </p>
                </div>
            </li>
        </ul>
        <button class="btn reviews-btn" type="button" onclick="loadMore('#reviews .js-load-more')">Show more</button>
    </div>
</section>